src/main/java/E2E/resources/xmlSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="invoices">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="invoice" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="id"/>
                            <xs:element type="xs:string" name="customerName"/>
                            <xs:element type="xs:float" name="amount"/>
                            <xs:element type="xs:float" name="tax"/>
                            <xs:element type="xs:date" name="date"/>
                            <xs:element type="xs:string" name="status"/>
                            <xs:element type="xs:float" name="subtotal" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>